
/*********************************************************************************************

2. CreateMatchupObjectGlobalTable.sql
   Create input table for MatchUp Object Global

   Before executing, search for '*** MODIFY ***' and replace with the respective information.

***********************************************************************************************/


USE [{Database}]      -- *** MODIFY *** Replace with your database name
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

IF OBJECT_ID('dbo.MatchupGlobalSampleInput', 'U') IS NOT NULL 
  DROP TABLE dbo.[MatchupGlobalSampleInput];
  
CREATE TABLE [dbo].[MatchupGlobalSampleInput](
	[IDENT] [int] NOT NULL,
	[FullName] [nvarchar](40) NULL,
	[Company] [nvarchar](80) NULL,
	[Address1] [nvarchar](80) NULL,
	[Address2] [nvarchar](80) NULL,
	[Address3] [nvarchar](80) NULL,
	[Country] [nvarchar](30) NULL,
	[MatchKey] [nvarchar](200) NULL,
	[DupeGroup] [int] NULL,
	[Results] [nvarchar](30) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[MatchupGlobalSampleInput] ([IDENT], [FullName], [Company], [Address1], [Address2], [Address3], [Country], [MatchKey], [DupeGroup], [Results]) VALUES (1, N'Maria Burg', N'Deutsche Bank Filiale', N'Taunusanlage 12', N'60325 Frankfurt am Main', N' ', N'Germany', N'', 0, N'')
INSERT [dbo].[MatchupGlobalSampleInput] ([IDENT], [FullName], [Company], [Address1], [Address2], [Address3], [Country], [MatchKey], [DupeGroup], [Results]) VALUES (2, N'Maria Burg', N'Deutsche Bank Filiale', N'Berger Str. 130', N'60385 Frankfurt am Main', N' ', N'DEUTSCHLAND', N'', 0, N'')
INSERT [dbo].[MatchupGlobalSampleInput] ([IDENT], [FullName], [Company], [Address1], [Address2], [Address3], [Country], [MatchKey], [DupeGroup], [Results]) VALUES (3, N'Jaroslav Holzreiter', N'Deutsche Bank', N'Frankfurter Str. 13a', N'61476 Kronberg im Taunus', N' ', N'Germany', N'', 0, N'')
GO
